<h2>Accounts</h2>

<div>
  <%= link_to 'Add twitter account', '/users/auth/twitter'  %>
</div>

<table>
  <tr>
    <th>#</th>
    <th>Accounts</th>
    <th></th>
  </tr>
    <% Account.all.each_with_index do |account, index| %>
    <tr>
      <td><%= index.to_i + 1 %></td>
      <td>
        <%= account.provider %>
        <%= account.email %>
      </td>
    </tr>
  <% end %>
</table>
