<h3>
  <%= link_to 'Accounts', accounts_path %>
</h3>

<table>

  <% Account.where(user_id: current_user.id).each_with_index do |account, index| %>

  <tr>
    <td><%= index.to_i + 1 %></td>
    <td>
      <%= account.provider %>
      <%= account.email %>
    </td>
  </tr>

  <% end %>

</table>
