<h3>
  <%= link_to 'RSS feeds', rssfeeds_path %>
</h3>

<table>

  <% Rssfeed.where(user_id: current_user.id).each do |rss| %>

  <tr>
    <td>
      <%= rss.title %>
    </td>
  </tr>

  <% end %>

</table>

